alabaster==0.7.12
Beaker==1.11.0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
cryptography==2.8
Django==2.2.21
git+git://github.com/brat000012001/django-oidc#egg=django-oidc
future==0.18.2
gunicorn==20.0.4
idna==2.9
Mako==1.1.1
MarkupSafe==1.1.1
oic==0.10.0.0
pycparser==2.19
pycryptodomex==3.9.7
pyjwkest==1.4.2
pyOpenSSL==19.1.0
pytz==2019.3
requests==2.23.0
responses==0.10.11
six==1.14.0
sqlparse==0.3.0
testfixtures==6.14.0
urllib3==1.25.8
whitenoise==5.0.1
